<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search-chef" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Apply Filters</ion-title>
    <ion-title slot="end">Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox">
    <h3>Meal Type</h3>

    <ion-list>
      <ion-radio-group>
        <ion-item>
          <!-- <ion-label>Breakfast</ion-label> -->
          <ion-radio value="breakfast" label-placement="start"
            >Breakfast</ion-radio
          >
        </ion-item>

        <ion-item>
          <ion-radio value="dinner" label-placement="start">Dinner</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio value="lunch" label-placement="start">Lunch</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio value="brunch" label-placement="start">Brunch</ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-radio value="others" label-placement="start">Others</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>
