<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search-chef" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Apply Filters</ion-title>
    <ion-title slot="end">Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox">
    <h3>Meal Type</h3>

    <ion-list>
      <ion-radio-group>
        <ion-item>
          <!-- <ion-label>Breakfast</ion-label> -->
          <ion-radio value="breakfast" label-placement="start"
            >Breakfast</ion-radio
          >
        </ion-item>

        <ion-item>
          <ion-radio value="dinner" label-placement="start">Dinner</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio value="lunch" label-placement="start">Lunch</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio value="brunch" label-placement="start">Brunch</ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-radio value="others" label-placement="start">Others</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div class="upperBox">
    <h3>Cuisine</h3>
    <ion-radio-group>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-radio mode="md" item-left value="american">American</ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-radio mode="md" item-left value="asian">Asian</ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-radio mode="md" item-left value="australian"
              >Australian</ion-radio
            >
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-radio mode="md" item-left value="indian">Indian</ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-radio mode="md" item-left value="french">French</ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-radio mode="md" item-left value="greek">Greek</ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </div>

  <div class="upperBox">
    <h3>Distance</h3>
    <ion-list lines="none">
      <ion-item>
        <ion-range
          min="1"
          max="20"
          color="danger"
          mode="ios"
          [pin]="true"
        ></ion-range>
        <ion-label>1 Km</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="upperBox">
    <h3>Sort By</h3>

    <ion-list lines="none">
      <ion-item>
        <ion-toggle mode="ios">Most Popular</ion-toggle>
      </ion-item>

      <hr style="border-bottom: 1px solid gray" />
    </ion-list>

    <ion-list>
      <ion-radio-group>
        <ion-item>
          <ion-radio mode="ios" value="lowToHigh">Low To High</ion-radio>
        </ion-item>

        <ion-item>
          <ion-radio mode="ios" value="highToLow">High To Low</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>
